.section-advantage {
  margin-bottom: 100px;
}

.section-advantage__list {
  display: flex;
  gap: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 52px;

  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 50px;
    background-color: #44c697;

    transform: translate(-30%, 8%);
  }
}

.section-advantage__list-title {
  display: inline-block;

  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #ffffff;

  border-bottom: 3px solid #44c697;
}

.project-list__thumb {
  position: relative;
  height: 100%;
}

.section-advantage__list-item {
  width: 586px;
  height: 350px;
  background-image: linear-gradient(
      0deg,
      rgba(30, 46, 54, 0.5),
      rgba(30, 46, 54, 0.5)
    ),
    url(../images/quality.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(30, 46, 54, 0.5),
        rgba(30, 46, 54, 0.5)
      ),
      url(../images/quality@2x.jpg);
  }

  &:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(30, 46, 54, 0.5),
        rgba(30, 46, 54, 0.5)
      ),
      url(../images/reliability.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(30, 46, 54, 0.5),
          rgba(30, 46, 54, 0.5)
        ),
        url(../images/reliability@2x.jpg);
    }
  }

  &:last-child {
    background-image: linear-gradient(
        0deg,
        rgba(30, 46, 54, 0.5),
        rgba(30, 46, 54, 0.5)
      ),
      url(../images/delivery.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(30, 46, 54, 0.5),
          rgba(30, 46, 54, 0.5)
        ),
        url(../images/delivery@2x.jpg);
    }
  }
}

.overlay {
  display: block;
  position: absolute;
  bottom: 30;
  left: 30;
}

.overlay__text {
  display: none;
  margin-top: 15px;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;

  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .section-advantage__list-item:hover & {
    opacity: 1;
    display: block;
  }
}

.advantage__left-btn {
  position: absolute;
  top: 160;
  left: 15;

  border: 0;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}

.advantage__right-btn {
  position: absolute;
  top: 160;
  right: 15;

  border: 0;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
