.section-advantage {
  margin-bottom: 100px;
}

.section-advantage__list {
  display: flex;
  gap: 30px;
}

.section-title {
  margin-bottom: 52px;

  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}

.section-advantage__list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: #ffffff;
}

.project-list__thumb {
  position: relative;
}

.overlay {
  display: block;
  position: absolute;
  bottom: 30;
  left: 30;
}

.overlay__text {
  display: none;
  margin-top: 15px;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;

  // transition-property: display, opacity;
  // transition-duration: 500ms, 500ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
  //   cubic-bezier(0.4, 0, 0.2, 1);

  .section-advantage__list-item:hover & {
    opacity: 1;
    display: block;
  }
}
