.footer {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  max-width: 1920px;
  display: flex;
}

.footer-wrapper {
  padding-left: 51px;
  padding-bottom: 15px;
  padding-top: 50px;
  padding-right: 56px;

  width: 831px;
  background: #1e2e36;
}

.logo-link--footer {
  color: #ffffff;
}

.logo-icon--footer {
  margin-bottom: 50px;

  fill: #ffffff;
}

.footer-list__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;
  color: #ffffff;
}

.footer-list__span {
  color: #44c697;
}

.contacts-map {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
}

.contacts-schedule {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
}

.phone-icon--footer {
  stroke: #44c697;
}

.phone-link--footer {
  font-style: normal;
  color: #44c697;
}

.address-list__item {
  display: flex;
  gap: 5px;

  &--positioning {
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
  }
}

.footer-social__list {
  display: flex;
  gap: 5px;
}

.footer-social__title {
  margin-bottom: 5px;
  margin-top: 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: 125%;

  color: #ffffff;
}

.footer-social__icon {
  fill: #ffffff;
}

.footer__flex-wrapper {
  display: flex;
}

.footer__catalog-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-right: 55px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-right: 87px;
}

.copyrights {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}

.glyanec-link {
  display: flex;
  align-items: center;
  gap: 3px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: #ffffff;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.btn-anchor {
  position: absolute;
  top: -9;
  left: 36;

  padding: 0;
  width: 50px;
  height: 50px;
  background-color: inherit;
  border: 0;
}

.btn-anchor__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
