.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #1e2e36;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-wrapper .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.header-list {
  display: flex;
  gap: 5px;

  margin-left: 5px;
  margin-right: 50px;
}

.navigation-list {
  display: flex;
  gap: 15px;
}

.phone-link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.phone-icon {
  margin-right: 5px;
}

.navigation__link {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}
