.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #1e2e36;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-wrapper .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.header-list {
  display: flex;
  gap: 5px;

  margin-left: 5px;
  margin-right: 50px;
}

.navigation-list {
  display: flex;
  gap: 15px;
}

.phone-link {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 125%;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #44c697;
  }
}

.phone-icon {
  margin-right: 5px;
  stroke: #1e2e36;

  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .phone-link:focus &,
  .phone-link:hover & {
    stroke: #44c697;
  }
}

.header-list__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .header-list__item:focus &,
  .header-list__item:hover & {
    fill: #44c697;
  }
}

.navigation__link {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 125%;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    border-bottom: 3px solid #44c697;
  }

  &:hover,
  &:focus {
    color: #44c697;
  }
}
