.section-slider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  max-width: 1920px;
  height: 785px;

  background-image: url(../images/section-category__img.jpg);
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/section-category__img@2x.jpg);
  }
}

.slider__card {
  padding-left: 75px;
  padding-right: 74px;
  padding-top: 99px;
  padding-bottom: 101px;
  width: 462px;
  background-color: #fff;

  border-left: 15px solid #44c697;
}

.slider-news {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
}

.slider__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.slider-description {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.slider-btn {
  display: block;
  padding: 14px 46px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #fff;
  background-color: #44c697;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  transition: background-color 250ms ease-out;

  &:hover,
  &:focus {
    background-color: #00c07b;
  }
}

.slider-navigation {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.slider__active-number {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}

.slider_total-pages {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.slider-navigation__wrapper {
  margin-left: auto;
  margin-right: auto;

  width: 81px;
}

.slider-navigation__btn {
  padding: 0;
  height: 30px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
