<section class="section-advantage">
  <div class="container">
    <h2></h2>
    <ul class="section-advantage__list">
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <img
            srcset="./images/quality.jpg 1x, ./images/quality.jpg 2x"
            src="./images/quality.jpg"
            alt="Меблі преміум класу"
            width="586"
            height="350"
          />
          <h3 class="section-advantage__list-title">Меблі преміум класу</h3>
          <!-- <div class="overlay"> -->
          <p class="overlay__text">
            За 14 років на ринку меблів для дому ми стали надійними партнерами
            на ринку Вінницької області та України
          </p>
          <!-- </div> -->
        </div>
      </li>
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <img
            srcset="./images/quality.jpg 1x, ./images/quality.jpg 2x"
            src="./images/quality.jpg"
            alt="Меблі преміум класу"
            width="586"
            height="350"
          />
          <h3 class="section-advantage__list-title">Надійність</h3>
          <div class="overlay">
            <p class="overlay__text">
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <img
            srcset="./images/quality.jpg 1x, ./images/quality.jpg 2x"
            src="./images/quality.jpg"
            alt="Меблі преміум класу"
            width="586"
            height="350"
          />
          <h3 class="section-advantage__list-title">Безкоштовна доставка</h3>
          <div class="overlay">
            <p class="overlay__text">
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
