<section class="section-advantage">
  <div class="container">
    <h2 class="section-title">Наші переваги</h2>
    <ul class="section-advantage__list">
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <div class="overlay">
            <h3 class="section-advantage__list-title">Меблі преміум класу</h3>
            <p class="overlay__text">
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
          <button type="button" class="advantage__left-btn">
            <svg width="30" height="30" class="">
              <use href="./images/symbol-defs.svg#left-1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <div class="overlay">
            <h3 class="section-advantage__list-title">Надійність</h3>
            <p class="overlay__text">
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
        </div>
      </li>
      <li class="section-advantage__list-item">
        <div class="project-list__thumb">
          <div class="overlay">
            <h3 class="section-advantage__list-title">Безкоштовна доставка</h3>
            <p class="overlay__text">
              За 14 років на ринку меблів для дому ми стали надійними партнерами
              на ринку Вінницької області та України
            </p>
          </div>
          <button type="button" class="advantage__right-btn">
            <svg width="30" height="30" class="">
              <use href="./images/symbol-defs.svg#right-1"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
