<section>
  <div class="container">
    <h2 class="section-title">Категорії товарів</h2>
    <ul class="catalog-list">
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#living-room"></use>
        </svg>
        <p class="catalog-list__title">Дивани</p>
      </li>
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#bedroom"></use>
        </svg>
        <p class="catalog-list__title">Ліжка</p>
      </li>
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#armchair"></use>
        </svg>
        <p class="catalog-list__title">Крісла</p>
      </li>
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#wardrobe-2"></use>
        </svg>
        <p class="catalog-list__title">Комоди</p>
      </li>
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#wardrobe-1"></use>
        </svg>
        <p class="catalog-list__title">Шафи</p>
      </li>
      <li class="catalog-list__item">
        <svg width="100" height="100" class="catalog-list__icon">
          <use href="./images/symbol-defs.svg#kitchen"></use>
        </svg>
        <p class="catalog-list__title">Кухня</p>
      </li>
    </ul>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
