<section class="section-category">
  <div class="container">
    <div class="category-wrapper">
      <ul class="category-list">
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >Дивани
          </button>
        </li>
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >ліжка
          </button>
        </li>
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >Крісла
          </button>
        </li>
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >комоди
          </button>
        </li>
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >шафи
          </button>
        </li>
        <li class="category-list__item">
          <button type="button" class="category-list__btn">
            <svg width="24" height="24" class="category-list__icon">
              <use href="./images/symbol-defs.svg#chevron-down"></use></svg
            >Кухня
          </button>
        </li>
      </ul>
      <a href="./#" class="logo-link logo-link--scale">
        <svg width="125" height="75" class="logo-icon">
          <use href="./images/symbol-defs.svg#logo-main"></use></svg
        ><span class="logo-letter">F</span>urniture.test</a
      >
    </div>
    <ul class="category-order">
      <li>
        <button type="button" class="cart-btn">
          <svg width="30" height="30" class="cart-icon">
            <use href="./images/symbol-defs.svg#shopping-cart"></use></svg
          >Кошик
        </button>
      </li>
      <li>
        <button type="button" class="category-order__call-btn">
          Замовити дзвінок
        </button>
      </li>
    </ul>
  </div>
</section>
