<section class="section-consultation">
  <div class="container">
    <h2 class="section-title">Залишились питання?</h2>
    <div class="consultation__wrapper">
      <div class="form-container">
        <h3 class="form-title">Замовте консультацію</h3>
        <form class="consultation_form" name="consultation_form">
          <input
            type="text"
            name="username"
            placeholder="Ім'я"
            class="form-input"
          />
          <input
            placeholder="Номер телефону"
            type="tel"
            name="phone_number"
            class="form-input form-input--margin"
          />
          <button type="submit" class="submit-btn">ВІдправити</button>
        </form>
        <p class="form-text">
          Залиште заявку або телефонуйте за номером
          <b>(099) 111 22 33</b>, і наш менеджер звяжеться з вами для
          кваліфікованої консультації.
        </p>
      </div>
    </div>
  </div>
</section>
