<section class="section-slider">
  <div class="container">
    <div class="slider__card">
      <p class="slider-news">Новинка!</p>
      <h2 class="slider__title">Ліжко Ornella</h2>
      <p class="slider-description">Це новий рівень комфортного сну</p>
      <button type="button" class="slider-btn">Детальніше</button>

      <div class="slider-navigation__wrapper">
        <p class="slider__active-number">
          01<span class="slider_total-pages">/ 04</span>
        </p>
        <ul class="slider-navigation">
          <li>
            <button type="button" class="slider-navigation__btn">
              <svg width="30" height="30" class="slider-left">
                <use href="./images/symbol-defs.svg#Left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="slider-navigation__btn">
              <svg width="30" height="30" class="">
                <use href="./images/symbol-defs.svg#Right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
